{% extends "base.html" %}
{% block body %}
<div class="content">
  <a id="send">予約状況確認</a>
</div>
<style>
  .content{
        text-align: center;
        font-size: 20px;
    }
</style>

<script>
  window.onload = () => {
    let date = new Date();
    let day = ("0" + (date.getDate())).slice(-2);
    let year = date.getFullYear();
    let month = ("0" + (date.getMonth() + 1)).slice(-2);

    console.log(`${year}-${month}-${day}`);
    let sendDate = `${year}-${month}-${day}`;

    let path = `./reservation/${sendDate}`;
    console.log(path)
    document.getElementById("send").setAttribute("href", path);
  }
</script>
{% endblock %}
