{% extends "base.html" %}
{% block body %}
<h1>ご来店予約</h1>
{{min_date}}
{{max_date}}
<div id="form">
  <form action="" method="post" name="myform">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">
        <h3>予約日を選択</h3>
      </label>
      <input type="date" class="form-control" id="date" name="date" min="{{min_date}}" max="{{max_date}}" placeholder="" required />
    </div>
    <div id="intro"></div>
    <div id="display"></div>



  </form>


</div>

<style>
  h1 {
    text-align: center;
  }

  form {
    text-align: center;
    width: 70%;
    margin: 2% auto;
  }

  table {
    width: 70%;
    margin: auto;
    height: 400px;
    border: 1px solid;
    margin: auto;
  }

  #intro {
    margin-top: 3%;
  }

  td,
  th {
    border: 1px solid;
  }

  table tr:nth-child(odd) td {
    background: rgb(248, 248, 248);
  }


  #date {
    width: 60%;
    height: 40px;
    margin: auto;
  }

  #display {
    margin: auto;
    text-align: center;
  }
</style>


<script>
  let a;
  var head = document.getElementsByTagName('head')
  var script = document.createElement('script')
  let dateInput = document.getElementById("date");

  /*
  dateInput.addEventListener("input", () => {
    document.myform.submit()
  })
  */

  //ここで任意のjQueryを読み込ませる
  script.setAttribute('src', 'https://code.jquery.com/jquery-1.12.4.min.js')
  script.setAttribute('type', 'text/javascript')
  let startTime = 12
  let closeTime = 20

  function makeTable(array, dict, date) {
    let count = 0;
    let timeTable = "<table>"
    timeTable += "<tr><td>時間</td><td>状況</td></tr>"

    for (let i = startTime; i <= closeTime; i++) {
      timeTable += `<tr><td>${i}:00〜</td>`;
      if (array.indexOf(i) >= 0) {
        if (dict[i] == 0) {
          timeTable += `<td><a href="./sub/${date}-${i}">△</a></td></tr>`;
        } else {
          timeTable += `<td>✕</td></tr>`;
        }
      } else {
        if (i < 10) {
          i = "0" + i
        }

        timeTable += `<td><a href="./confirm/${date}-${i}">○</a></td></tr>`;
      }
      console.log(i)
    }
    timeTable += "</table>"
    let display = document.getElementById("display");
    let intro = document.getElementById("intro");
    console.log(timeTable)
    display.innerHTML = timeTable;
    intro.innerHTML = "○:予約可, △:キャンセル待ち登録可, ✕:空きなし"
  }


  script.addEventListener('load', function () {

    // ここにjQueryの記述をする

    $(function () {
      $(function () {
        $('#date').on('input', function () {
          let date = $("#date").val();
          console.log(date)
          $.ajax({
              url: `/definite_reserve_date/${date}`,
              type: 'GET',
              dataType: 'json',
            })
            //通信成功時の処理
            .done(function (data) {
              console.log(data)
              let table = "<table>"
              for (let i = 0; i < data.length; i++) {
                table += "<tr>" + "<td>" + data[i]["username"] + "</td>" + "<td>" + Math.floor(data[i]["time"] / 3600) + "</td>" + "<td>" + data[i]["state"] + "</td>" + "</tr>";
                console.log(i)
              }
              table += "</table>"
              $('#result').html(table);
              a = data;
              console.log(table);
              let dict = {};
              let filled = [];
              for (let j = 0; j < data.length; j++) {
                let calcTime = Math.floor(data[j]["time"] / 3600)
                filled.push(calcTime);
                dict[`${calcTime}`] = data[j]["state"]
              }
              console.log(filled)
              console.log(dict)

              makeTable(filled, dict, date);


            })
            //通信失敗時の処理
            .fail(function () {
              window.alert('データが取れていません');
            })
        })
      })
    })
  })
  document.head.appendChild(script)
</script>
<style>
  a {
    text-decoration: none;
  }
</style>
{% endblock %}